<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/main" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
  <label for="file1">Seleccione el primer archivo:</label><br>
  <input type="file" id="file1" name="file1"><br>
  <label for="file2">Seleccione el segundo archivo:</label><br>
  <input type="file" id="file2" name="file2"><br><br>
    <label for="file3">Seleccione el primer archivo:</label><br>
  <input type="file" id="file3" name="file3"><br>
  <input type="submit" value="Subir archivos">
</form>

<script>
  function validateForm() {
    // Obtener los archivos seleccionados
    var file1 = document.getElementById('file1').files[0];
    var file2 = document.getElementById('file2').files[0];

    // Validar que ambos archivos se hayan seleccionado
    if (!file1 || !file2) {
      alert('Debe seleccionar ambos archivos para continuar.');
      return false;
    }

    return true;
  }
</script>
</body>
</html>